.checkout
  .complete
    Checkout Completed!
    - @products.each do |product|
      = render partial: "products/product", locals: { product: product, hide_buy: true}
  .receipt
    .cost
      Your card has been charged
      = number_to_currency(@total_in_cents/100.0)
    .address
      This will be shipped to:
      .name
        = @name
      .street
        = @street
      .city
        = @city
      .state
        = @state
      .zip
        = @zip
