.checkout
  - @products.each do |product|
    = render partial: "products/product", locals: { product: product, show_remove: true, hide_buy: true}

  .pay
    .total
      Total: 
      = number_to_currency(@total_in_cents/100.0)
      .shipping_included
        shipping included
    %form{method: "post"}
      .shipping_address
        .shipping_header
          Ship To:
        .inputs
          .name
            = label_tag :name
            = text_field_tag :name
          .street
            = label_tag :street
            = text_field_tag :street
          .city
            = label_tag :city
            = text_field_tag :city
          .state
            = label_tag :state
            = select_tag :state, options_for_select(["AL", "AK", "AZ", "AR", "CA", "CO", "CT", "DE", "FL", "GA", "HI", "ID", "IL", "IN", "IA", "KS", "KY", "LA", "ME", "MD", "MA", "MI", "MN", "MS", "MO", "MT", "NE", "NV", "NH", "NJ", "NM", "NY", "NC", "ND", "OH", "OK", "OR", "PA", "RI", "SC", "SD", "TN", "TX", "UT", "VT", "VA", "WA", "WV", "WI", "WY"])
          .zip
            = label_tag :zip
            = text_field_tag :zip
        = hidden_field_tag :total_in_cents, @total_in_cents
        = hidden_field_tag :product_ids, @products.map(&:id)
      .stripe
        %script{src: "https://checkout.stripe.com/v2/checkout.js", class: "stripe-button", :"data-key" =>  Rails.configuration.stripe[:publishable_key], :"data-amount" => @total_in_cents, :"data-name" => "Placidity", :"data-description" => "#{pluralize(@products.count, "product")}", :"data-image" => @products.first.image}
