.article_form
  = form_for [:admin, @article],  do|f|
    - if @article.errors.any?
      %ul
        - @article.errors.full_messages.each do |m|
          %li
            = m
    
    %p
      = f.label :title
      %br
      = f.text_field :title
    %p
      = f.label :author
      %br
      = f.text_field :author
    %p
      = f.label :description
      %br
      = f.text_area :description
    %p
      = f.label :internal_article
      %br
      = f.check_box :internal_article
    %p
      = f.label :full_body
      %br
      = f.text_area :full_body
    %p
      = f.label :link
      %br
      = f.text_field :link
    
    = f.submit
