.home_page
  .main_video
    %video{width: 940, height: 528, controls: false, loop: true, autoplay: false, preload: "auto", poster: @zone.poster}
      %source{src: @zone.mp4, type: "video/mp4", class: "mp4"}
      %source{src: @zone.ogg, type: "video/ogg", class: "ogg"}
  .description.tk-vinter-web
    .featured_video
      Featured Video:
      = link_to @zone.video.name, video_audio_path(@zone.video.slug, @zone.sound_clip.slug)
    .relaxotron_link
      = link_to "See all", zones_path
  .other_options.tk-vinter-web
    = link_to article_path(@article_one) do
      .option_one
        = image_tag @article_one.article_picture.image
        .large
          = @article_one.title
    .option_two
      = image_tag "demo/fish.jpg"
      .large
        Compassion for All Creatures
      .small
        How the act of giving can improve your happiness more than the act of taking.
    .option_three
      = image_tag "demo/snow.jpg"
      .large
        Surviving the Winter
      .small
        Learning to handle life's struggles with equanimity and grace.
