.upload_form
  %h2
    Audio Upload
  = form_for @sound_clip, html: { multipart: true } do|f|
    - if @sound_clip.errors.any?
      %ul
        - @sound_clip.errors.full_messages.each do |m|
          %li
            = m
    
    %p
      = f.label :name, "Name:"
      %br
      = f.text_field :name
    %p
      = f.label "description", "Description:"
      %br
      = f.text_area :description
    %p
      = f.label :wav, "Upload WAV File"
      %br
      = f.file_field :wav
    = f.submit "Create"
