.audio
  %audio{loop: true}
    %source{src: "/assets/wind.mp3"}
.main_video
  %video{width: 940, height: 528, controls: false, loop: true, autoplay: true, preload: "auto", poster: "/assets/loadingAnimation.gif"}
    %source{src: "/assets/potomac.m4v", type:"video/mp4"}
  .video_overlay
    .video_loop
      .two_min.loop_select.selected{data: {length: 2}}
        2 Min
      .five_min.loop_select{data: {length: 5}}
        5 Min
      .ten_min.loop_select{data: {length: 10}}
        10 Min
      .thirty_min.loop_select{data: {length: 30}}
        30 Min
      .invinite.loop_select
        Forever
      
      
      .play_pause
        .play.hidden
          &nbsp;
        .pause
          .bar_one
            &nbsp;
          .bar_two
            &nbsp;
          .bar_three
            &nbsp;

      -#.modify
      -#  Modify

.video_selector.jcarousel-container.jcarousel-container-horizontal.fadeable
  .jcarousel-clip
    %ul.carousel.jcarousel-list
      %li.jcarousel-item-0
        = image_tag "potomac.jpg", data: {video: "/assets/potomac.m4v", audio: "/assets/wind.mp3"}
      %li.jcarousel-item-2
        = image_tag "http://ak0.picdn.net/shutterstock/videos/776929/preview/1.jpg", data: {video: "http://ak0.picdn.net/shutterstock/videos/776929/preview/stock-footage-wheat-field.mp4", audio: "/assets/wind.mp3"}
      %li.jcarousel-item-2
        = image_tag "http://ak1.picdn.net/shutterstock/videos/755332/preview/1.jpg", data: {video: "http://ak1.picdn.net/shutterstock/videos/755332/preview/stock-footage-times-square-time-lapse.mp4", audio: "/assets/hippie_song.mp3"}
      %li.jcarousel-item-3
        = image_tag "http://ak3.picdn.net/shutterstock/videos/3298709/preview/1.jpg", data: {video: "http://ak3.picdn.net/shutterstock/videos/3298709/preview/stock-footage-giant-daisies-filling-a-verdant-wildflower-meadow-in-green-rolling-landscape-under-a-big-blue.mp4"}
      %li.jcarousel-item-4
        = image_tag "http://ak7.picdn.net/shutterstock/videos/3775625/preview/1.jpg", data: {video: "http://ak7.picdn.net/shutterstock/videos/3775625/preview/stock-footage-northern-lights-aurora-borealis-reflected-on-a-lake-timelapse-in-iceland.mp4"}
      %li.jcarousel-item-5
        = image_tag "http://ak.picdn.net/shutterstock/videos/2673485/preview/1.jpg", data: {video: "http://ak.picdn.net/shutterstock/videos/2673485/preview/stock-footage-rainbow-above-victoria-falls-south-africa.mp4"}
  -#.jcarousel-prev.tk-vinter-web.fadeable
  -#  Prev
  -#.jcarousel-next.tk-vinter-web.fadeable
  -#  Next
