.audio
  %audio{loop: true}
    %source{src: "/assets/audio/large_waterfall.wav"}
.main_video
  %video.item_0{width: 940, height: 528, controls: false, loop: true, autoplay: false, preload: "auto", poster: "/assets/posters/potomac.jpg"}
    %source{src: "/assets/potomac.m4v", type: "video/mp4", class: "mp4"}
    %source{src: "/assets/potomac.ogv", type: "video/ogg", class: "ogg"}
  .video_overlay
    .video_loop
      .play_pause
        .play.hidden
          &nbsp;
        .pause
          .bar_one
            &nbsp;
          .bar_two
            &nbsp;
          .bar_three
            &nbsp;

      .two_min.loop_select.selected{data: {length: 2}}
        2 Min
      .five_min.loop_select{data: {length: 5}}
        5 Min
      .ten_min.loop_select{data: {length: 10}}
        10 Min
      .thirty_min.loop_select{data: {length: 30}}
        30 Min
      .invinite.loop_select
        Forever

.video_selector.fadeable
  %ul.selector
    %li.item-0
      = image_tag "posters/potomac.jpg", data: {video: "/assets/potomac", audio: "/assets/audio/large_waterfall.wav"}
    %li.item-2
      = image_tag "posters/field.jpg", data: {video: "/assets/field", audio: "/assets/audio/afrika.wav"}
    %li.item-2
      = image_tag "posters/london.jpg", data: {video: "/assets/london", audio: "/assets/audio/etherealmotion159.wav"}
    %li.item-3
      = image_tag "posters/slow_water.jpg", data: {video: "/assets/slow_water", audio: "assets/audio/birdies.wav"}
    %li.item-4.last
      = image_tag "posters/northern_lights.jpg", data: {video: "/assets/northern_lights", audio: "assets/audio/cloud_two.wav"}
