.show_two
  %video.item_0{controls: false, loop: true, autoplay: true, preload: "auto"}
    %source{src: @video.mp4.url, type: "video/mp4", class: "mp4"}
    %source{src: @video.ogg.url, type: "video/ogg", class: "ogg"}
  %audio{controls: false, loop: true}
    %source{src: @sound_clip.wav.url}
  .scroll
    .clickers
      = link_to video_audio_two_path(video_slug: @video.previous_video.slug, audio_slug: @sound_clip.slug) do
        .prev
          &nbsp;
      = link_to video_audio_two_path(video_slug: @video.next_video.slug, audio_slug: @sound_clip.slug) do
        .next
          &nbsp;
    .video_name.name
      Video: 
      = @video.name
    .clickers
      = link_to video_audio_two_path(video_slug: @video.slug, audio_slug: @sound_clip.previous_sound_clip.slug) do
        .prev
          &nbsp;
      = link_to video_audio_two_path(video_slug: @video.slug, audio_slug: @sound_clip.next_sound_clip.slug) do
        .next
          &nbsp;
    .audio_name.name
      Audio: 
      = @sound_clip.name
