<!DOCTYPE html>
%html
  %head
    %title Placidity
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = favicon_link_tag "favicon.ico"
    = csrf_meta_tags
    %script{type: "text/javascript", src: "//use.typekit.net/cnn7kco.js"}
    %script{type: "text/javascript"}
      try{Typekit.load();}catch(e){}


      

  %body.forrest
    .content
      #header
        .logo
          .name
            = link_to root_path do
              Placidity
          .subtext.tk-vinter-web
            choose your relaxation
            -# your calm in the storm

        -# .menu
        -#   = link_to "Articles", "#", class: "tk-vinter-web"
        -#   = link_to "Forum", "#", class: "tk-vinter-web"
        -#   = link_to "Marketplace", "#", class: "tk-vinter-web"

      #flash
        - flash.each do |key, value|
          %div{:id => "flash#{key}"}
            = value
      .main
        = yield

      #footer

:javascript
  console.log("google analytics check");
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42108037-1', 'placidity.com');
  ga('send', 'pageview');
