<!DOCTYPE html>
%html
  %head
    %title Placidity
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = favicon_link_tag "favicon.ico"
    = csrf_meta_tags
    %script{type: "text/javascript", src: "//use.typekit.net/cnn7kco.js"}
    %script{type: "text/javascript"}
      try{Typekit.load();}catch(e){}


      

  %body.forrest
    .content
      #header
        .logo
          .name
            = link_to root_path do
              Placidity
          .subtext.tk-vinter-web
            choose your relaxation
            -# your calm in the storm

        -# .menu
        -#   = link_to "Articles", "#", class: "tk-vinter-web"
        -#   = link_to "Forum", "#", class: "tk-vinter-web"
        -#   = link_to "Marketplace", "#", class: "tk-vinter-web"

      #flash
        - flash.each do |key, value|
          %div{:id => "flash#{key}"}
            = value
      .main
        = yield

      #footer

:javascript
  console.log("google analytics check");
  //Google Analytics
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-42108037-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  
  //Crazyegg
  setTimeout(function(){var a=document.createElement("script");
  var b=document.getElementsByTagName("script")[0];
  a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0017/6989.js?"+Math.floor(new Date().getTime()/3600000);
  a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
  
