<!DOCTYPE html>
%html
  %head
    %title Placidity
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %script{type: "text/javascript", src: "//use.typekit.net/cnn7kco.js"}
    %script{type: "text/javascript"}
      try{Typekit.load();}catch(e){}

  %body.forrest
    .content
      #header
        .logo
          .name
            = link_to root_path do
              Placidity
          .subtext.tk-vinter-web
            your calm in the storm
        .menu
          = link_to "Articles", "#", class: "tk-vinter-web"
          = link_to "Forum", "#", class: "tk-vinter-web"
          = link_to "Marketplace", "#", class: "tk-vinter-web"

      #flash
        - flash.each do |key, value|
          %div{:id => "flash#{key}"}
            = value
      .main
        = yield

      #footer
